<h1>Jobline Archive Emails</h1>
<h2>We will do a test demo and archive our Email Messages from Postmark</h2>
<p>
  Today is <b><%= Date.today.strftime("%d %b %Y") %></b>, you want to <%= link_to 'Sign out', logout_path %>?
</p>

<ul>
  <li><%= link_to '{Outbound Webhooks}', webhook_event_requests_path %></li>
  <li><%= link_to '{Delivery webhook}', webhook_delivery_path %></li>
  <li><%= link_to '{Bounce webhook}', webhook_bounce_path %></li>
  <li><%= link_to '{Opens webhook}', webhook_opens_path %></li>
  <li><%= link_to '{Outbound Messages}', webhook_event_requests_path %></li>
  <li><%= link_to '{Users}', users_path %></li>
</ul>
