You want to <%= link_to '["Sign out"]', logout_path %> ?
<br />

<ul class="list">
  <li><%= link_to '{Dashboard}', dashboard_path %></li>
  <li><%= link_to '{Outbound Messages}', webhook_event_requests_path %></li>
  <li><%= link_to '{Users}', users_path %></li>
</ul>

<ul class="list">
  <li><%= link_to '{Outbound Webhooks}', webhook_event_requests_path %></li>
  <li><%= link_to '{Delivery webhook}', webhook_delivery_path %></li>
  <li><%= link_to '{Bounce webhook}', webhook_bounce_path %></li>
  <li><%= link_to '{Opens webhook}', webhook_opens_path %></li>
</ul>

<h1>Outbound Messages - Delivered</h1>

<table>
  <thead>
    <tr>
      <th>Payload</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if @delivery_outbound_messages.blank? %>
      <tr>
        <td>-</td>
        <<td>-</td>
        <td>-</td>
      </tr>
    <% else %>
      <% @delivery_outbound_messages.each do |delivery_outbound_message| %>
        <tr>
          <td><%= open_outbound_message.payload %></td>
          <td><%= link_to 'Show', delivery_outbound_message %></td>
          <td><%= link_to 'Destroy', delivery_outbound_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
