You want to <%= link_to '["Sign out"]', logout_path %> ?
<br />

<ul class="list">
  <li><%= link_to '{Dashboard}', dashboard_path %></li>
  <li><%= link_to '{Outbound Messages}', outbound_messages_path %></li>
  <li><%= link_to '{Users}', users_path %></li>
</ul>

<ul class="list">
  <li><%= link_to '{Outbound Webhooks}', webhook_event_requests_path %></li>
  <li><%= link_to '{Delivery webhook}', webhook_delivery_path %></li>
  <li><%= link_to '{Bounce webhook}', webhook_bounce_path %></li>
  <li><%= link_to '{Opens webhook}', webhook_opens_path %></li>
</ul>

<h1>Webhook Event Requests</h1>

<table>
  <thead>
    <tr>
      <th>Payload</th>
      <th>Webhook Type</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @webhook_event_requests.each do |webhook_event_request| %>
      <tr>
        <td><%= webhook_event_request.payload %></td>
        <td><%= webhook_event_request.webhook_type %></td>
        <td><%= link_to 'Show', webhook_event_request %></td>
        <td><%= link_to 'Destroy', webhook_event_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
