You want to <%= link_to '["Sign out"]', logout_path %> ?
<br />

<ul class="list">
  <li><%= link_to '{Dashboard}', dashboard_path %></li>
  <li><%= link_to '{Outbound Messages}', webhook_event_requests_path %></li>
  <li><%= link_to '{Users}', users_path %></li>
</ul>

<ul class="list">
  <li><%= link_to '{Outbound Webhooks}', webhook_event_requests_path %></li>
  <li><%= link_to '{Delivery webhook}', webhook_event_requests_path %></li>
  <li><%= link_to '{Bounce webhook}', webhook_event_requests_path %></li>
  <li><%= link_to '{Opens webhook}', webhook_event_requests_path %></li>
</ul>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
