You want to <%= link_to '["Sign out"]', logout_path %> ?
<br />

<ul class="list">
  <li><%= link_to '{Dashboard}', dashboard_path %></li>
  <li><%= link_to '{Outbound Messages}', outbound_messages_path %></li>
  <li><%= link_to '{Users}', users_path %></li>
</ul>

<ul class="list">
  <li><%= link_to '{Outbound Webhooks}', webhook_event_requests_path %></li>
  <li><%= link_to '{Delivery webhook}', webhook_delivery_path %></li>
  <li><%= link_to '{Bounce webhook}', webhook_bounce_path %></li>
  <li><%= link_to '{Opens webhook}', webhook_opens_path %></li>
</ul>

<h1>Outbound Messages</h1>

<table>
  <thead>
    <tr>
      <th>Tag</th>
      <th>MessageID</th>
      <th>ReceivedAt</th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |msg| %>
      <tr>
        <td><%= msg.tag %></td>
        <td><%= msg.message_id %></td>
        <td><%= msg.received_at.strftime("%m %B %y - %l:%M %p") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
